<form action="{% url 'savedata' %}" method="post">
    {% csrf_token %}
    name: <input type="text" name="name"><br>
    city: <input type="text" name="city"><br>
    email: <input type="text" name="email"><br>
    <input type="submit" value="enter">
</form>

<table border="1">
    <tr>
        <th>NAME</th>
        <th>CITY</th>
        <th>EMAIL</th>
    </tr>


    {% for i in data %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.city}}</td>
        <td>{{i.email}}</td>
        <td><a href="{% url 'delete' rahul=i.id %}">delete</a></td>
        <td><a href="{% url 'edit' rahul=i.id %}">edit</a></td>
    </tr>
    {% endfor %}

</table>

{% if updateform %}
<form action="#" method="post">
    {% csrf_token %}
    name: <input type="text" name="name"><br>
    city: <input type="text" name="city"><br>
    email: <input type="text" name="email"><br>
    <input type="submit" value="enter">
</form>
{% endif %}